
/* Apartado 1 */
h1 {
    color: red;
}

/* Apartado 2 */
div p *[href] {
    background-color: black;
}

/* Apartado 3 */
ul div .ultimo {
    color: yellow;
}

/* Apartado 4 */
div #importante {
    background-color: green;
}

/* Apartado 5 */
h1 [title] {
    color:blue;
    }

/* Apartado 6 */
ol a { text-decoration: none; }
ol a:link { color: blue; }
ol a:visited { color: purple; }    